/* global css */
.custom-title{
	letter-spacing: 5px;
    font-weight: bolder;
    font-family: cursive;
}
.nav-list-item-custom:hover, .nav-list-item-custom:focus, .nav-list-item-custom.active{
	color: #b49543;
	border-bottom: 2px solid #b49543;
}
.site-header{
	background: aliceblue;
    padding-bottom: 10px;
}
#main-content{
	margin-top: 40px;
	font-family: "Lora", serif;
    font-weight: normal;
}
.article-header h1{
	font-size: 1.467rem;
    margin: 8px 0;
    text-transform: uppercase;
    line-height: 1.4;
	font-weight: bold;
	text-align: center;
}
.border-bottom-style{
	display: block;
    width: 100px;
    height: 2px;
    background: #161616;
    margin: 10px auto 15px;
}
.article-content{
	margin-top: 20px;
	margin-bottom: 20px;
}
.article-image img{
	width: 100%;
	height: 100%;
}
h2{
	font-size: 1.167rem;
	font-weight: bold;
	margin-bottom: 20px;
}
h3{
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.aside-element h2{
	text-align: center;
    letter-spacing: 6px;
    background: #161616;
    color: #ffffff;
    font-size: .7333rem;
    padding: 13px 5px;
    position: relative;
    margin: 0 0 20px;
    text-transform: uppercase;
	border-radius: 15px 15px 0px 0px;
}
@media screen and (min-width: 768px) {
	#aside-content{
		margin-right: 20px;
		margin-left: 40px;
		margin-top: 65px;
		background-color: #fff;
		box-shadow: 0 3px 14px rgba(0,0,0,0.2);
		height: fit-content;
		padding: 20px;
	}
	.aside-element h2 {
		text-align: center;
		letter-spacing: 6px;
		color: darkgray;
		font-size: 1rem;
		padding: 13px 5px;
		position: relative;
		margin: 0 0 20px;
		text-transform: uppercase;
		border-radius: 0px;
		border-bottom: 2px solid darkgray;
		background: #fff;
	}
}
.aside-element ul{
	padding-left: 10px;
	padding-right: 10px;
}
.aside-element ul li{
	list-style: none;
}
.aside-element ul li a{
	color: #000;
	text-decoration: none;
}
.aside-element ul li a:hover, .aside-element ul li a:focus{
	color: #b49543;
}
.tag-container a{
	color: #000;
	text-decoration: none;
	text-transform: lowercase;
    display: inline-block;
    border: 2px solid #ebebeb;
    padding: 3px 10px;
    margin: 0 3px 3px 0;
}
.tag-container a:hover, .tag-container a:focus{
	color: #b49543;
}
.article-question{
	font-weight: bold;
	font-size: 1.1rem;
}
.article-answer{
	font-size: 1.1rem;
}
a {
    font-size: 1.1rem;
}
@media screen and (max-width: 767px) {
	h2{
		font-size: 1.3rem;
		font-weight: bold;
		margin-bottom: 20px;
	}
	h3{
		font-size: 1.27rem;
	    	font-weight: bold;
		margin-bottom: 20px;
	}
	.article-question{
		font-weight: bold;
		font-size: 1.27rem;
	}
	.article-answer{
		font-size: 1.27rem;
	}
	a {
		font-size: 1.3rem;
	}
}
.scroll_top{
	position: fixed;
    bottom: 1.6em;
    right: 1.6em;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: cadetblue;
    box-shadow: 0 0 2px rgba(0,0,0,.05);
    transition: border .3s ease-in-out;
    color: #fff;
    border-radius: 15px;
}
a.scroll_top:hover {
    text-decoration: none;
    color: #fff;
}
